{% extends 'base.html' %} <!-- Extend the base HTML template -->
{% block body %} <!-- Define a block for the body content to be inserted in the base template -->

<!-- Define the HTML template for a 500 error page -->
<hr />
<main>
  <div class="row">
    <!-- Display an image on the left side of the page -->
    <div class="col-4">
      <img
        class="img-fluid"
        src="{{ url_for('static', filename='css/images/oh-no.jpg') }}"
        alt="505 error page"
      />
    </div>
    <!-- Display a message on the right side of the page -->
    <div class="col-8">
      <h2 class="mt-5">Something has gone very wrong!</h2>
      <p>
        We are very sorry, but something has gone wrong on our end. We have
        logged the problem to let administrators know about it.
      </p>
    </div>
  </div>
</main>
{% endblock %} <!-- End the block for the body content -->
